[2014-01-01 21:24] mjordan opened #1 "XSL stylesheets are version 2, which PHP"
... can't process. If we're going to use these stylesheets, we'll need to run an external processor that supports XSLT 2.0, like Saxon.

[2014-01-01 23:41] mjordan commented on #1
Wan me to try to hack some version 1.0 XSLTs together?

[2014-01-03 03:28] mjordan commented on #1
Just added (commit c7644dc) an XSLT 1.0 stylesheet to convert FOXML to PREMIS. Sample output is available at https://gist.github.com/mjordan/8232126.

Some notes:
- This is XSLT 1.0 so PHP doesn't puke on it using code like:

[code]

However, it doesn't rely on PHP extenstions so it should be portable.
- I am only processing datastreams that are 'managed' since they are the only ones that are save

[2014-01-03 16:10] mjordan commented on #1
Over the weekend I'll think about how we could fit DC and other non-managed datastreams in there.

[2014-01-03 16:15] mjordan opened #2 "Add admin option to define organizational Agent"
Like Archivematica has.

[2014-01-03 16:18] ruebot opened #3 "Test suite"
Create an actual test suite other than the current Travis testing that only tests for compliance to [Drupal Coding Standards](https://drupal.org/coding-standards).

[2014-01-03 16:20] ruebot opened #4 "Download PREMIS"
Looks like we are downloading an empty file right now.

[2014-01-03 16:20] ruebot opened #5 "Valid PREMIS xml"
@mjordan says, "I can't get it to validate. xmllint --schema http://www.loc.gov/standards/premis/v2/premis.xsd changeme_15.premis.xml produces the error "element premis: Schemas validity error : Element '{info:lc/xlmns/premis-v2}premis': No matching global declaration available for the validation root." but I am not sure this is a problem with my XML file or with the schema."

[2014-01-03 16:23] mjordan opened #6 "Define permissions on viewing / downloading PREMIS"
islandora_premis_access_callback() currently sets permissions on viewing /downloading PREMIS based on permissions on the MODS datastream. This should set to view FOXML. Perhaps we want to consider a 'view preservation metadata' permission?

[2014-01-03 16:24] ruebot opened #7 "Prettier (readable!) PREMIS render"
Looks like [everything is mushed together on single line](http://digital.library.yorku.ca/yul-108839/hayesland-swamp/view_premis) right now without any markup. This should humanish readable like the [MARCXML tab](http://digital.library.yorku.ca/yul-108839/hayesland-swamp/view_mods_as_marcxml).

View PREMIS:
![screenshot from 2014-01-03 11 22 49](https://f.cloud.github.com/assets/218561/1840505/4eb

[2014-01-03 16:38] mjordan commented on #6
Yeah, I don't think FOXML is considered a normal datastream, so the FEDORA_VIEW_OBJECTS permission always returns false.

[2014-01-03 17:48] mjordan commented on #7
PREMIS XML is very ugly, repetitive, and voluminous. Maybe we could just let the browser render it? Most major ones except Chrome do a decent job.

[2014-01-03 17:50] mjordan commented on #2
Have to think about it.... Archivematica's admin settings form only has identifier and name.
![archivematica_premis](https://f.cloud.github.com/assets/403918/1841156/88133194-749f-11e3-8d15-27e442607dfe.png)

[2014-01-03 18:08] #1 closed, assigned to nobody

[2014-01-03 18:20] mjordan commented on #2
OK, I'll integrate this info into the stylesheet output this weekend.

[2014-01-03 18:29] mjordan commented on #7
Does. Seems like something that XSLT should be able to handle pretty generically. Let me take a look later today.

[2014-01-03 19:24] ruebot opened #8 "Create premis_to_html.xsl"
We need an xsl to display the PREMIS pretty on the PREMIS tab. This will allow for #7

[2014-01-03 20:09] mjordan commented on #5
Fixed in commit 6ae642cc4d34303431b2a189703b2d693634a608

[2014-01-03 20:09] #5 closed, assigned to nobody

[2014-01-03 22:07] mjordan commented on #8
Made some progress with a simple XSLT to output converted data like this:

[code]

Will continue. Some of these files are going to get really big, a few thousand lines long, so we may want to consider a collapsible div display, maybe structured by object. Some feedback from what users would like before we spend too much time on UI implementation/code would be useful.

[2014-01-03 23:32] mjordan commented on #8
One option is to use something like http://www.jstree.com/ to provide a cool looking tree view of the XML.

[2014-01-04 00:07] mjordan commented on #2
Done in commit 411fa9b, but the organization agent is not linked to any events yet.

We should also consider adding an agent entry for FedoraCommons, since it is the software doing the fixity checks.

[2014-01-04 01:19] dmoses commented on #8
I like the idea of an xslt as it is a common Islandora pattern. Can you dump out a PREMIS file to a gist ?
I could try helping with the xslt.

[2014-01-04 02:24] mjordan commented on #8
Don, here you go: https://gist.github.com/mjordan/8250658.

Here's the XSLT that created the output in the comment above:

[code]

[2014-01-04 14:33] mjordan opened #9 "Remove unused XSLT version 2 files?"
Since we're not using foxml-to-premis_xslv2.xsl, premis-event.xsl, and premis-object.xsl, we probably should remove them. Any objections?

[2014-01-04 14:36] dmoses commented on #9
Sounds good. Otherwise they may confuse folks.

[2014-01-04 16:23] mjordan opened #10 "Implementation of PREMIS agents"
I've created a sample PREMIS file implementing organization and software agents for each fixity event. The sample is at https://gist.github.com/mjordan/8256978.

Is this implementation suitable? The values for the software (Fedora Repository) are hard coded in the XSLT, whereas the values for the organization are configurable in the module's admin settings. You will notice that there is no version

[2014-01-04 16:25] mjordan commented on #10
BTW I haven't committed the code that produces this output, I am asking for feedback before doing so.

[2014-01-04 19:22] #9 closed, assigned to nobody

[2014-01-04 21:44] mjordan commented on #10
Sweet, thanks. I was looking under the FC 3.4 REST API docs, which say describe isn't implemented yet. I'll make the version number appear in the PREMIS.

[2014-01-04 22:15] mjordan commented on #10
OK, I've got the FC version number getting in. Here's the resulting agent XML (using SFU details in my local Islandora):

[code]

I'll wait to hear from @dmoses before committing and pushing.

There's one gotcha with the version number: it's the value that current at the time of generation of the PREMIS, not necessarily the version that was current at the time of the checksum verification. Fedora

[2014-01-04 23:03] mjordan commented on #10
That's what I used.

[2014-01-04 23:03] mjordan commented on #10
Woops, didn't mean to close the issue... reopening...

[2014-01-05 00:26] mjordan commented on #7
I tried to merge the changes in my feature branch and got a bunch of conflicts, so I re-implemented my changes into 7.x with Don's. Now. I'm getting errors. I'll fix and repush.

[2014-01-05 00:34] mjordan commented on #7
Fixed in commit ae6d0b.

Nice work @dmoses.

[2014-01-05 00:51] #7 closed, assigned to nobody

[2014-01-05 00:55] mjordan commented on #8
Related to #7, which is now closed.

[2014-01-05 00:55] #8 closed, assigned to nobody

[2014-01-05 00:58] mjordan commented on #10
Sorry @dmoses, I already pushed these changes to 7.x in my panic to resolve those conflicts. Let me know what you think.

[2014-01-05 02:09] dmoses commented on #8
Still fiddling with the xslt. I don't want to do a pull/merge yet ... can either of you test this https://github.com/dmoses/islandora_premis/blob/7.x/xml/premis_to_html.xsl ... I've changed the styling and added the event elements. For some reason when I try to pull up the PREMIS tab in Islandora I get an error message ... I'm assuming I've got a local config issue. I'm using the standard Islandor

[2014-01-05 02:21] dmoses commented on #10
@mjordan ... np ... I can incorporate your suggestions in the gist re: `<linkingEventIdentifier>` in the `<object>` stanza and `<linkingAgentIdentifier>` in the `<event>` stanza. For the agent bits ... we could potentially pull the xml in with something like

[code]

... I've not done that before, but could test if it would be useful.
dm

[2014-01-05 03:32] #4 closed, assigned to nobody

[2014-01-05 03:40] mjordan commented on #10
Good idea, but some people may not be running FC on localhost. Using a parameter passed in from the module, the way I've done it, uses Islandora's configured value for the FC base URL.

[2014-01-05 03:41] mjordan commented on #2
We can close this if @dmoses is OK with how agents are implemented.

[2014-01-05 03:48] mjordan commented on #8
@dmoses, what version of FC are you running? describe only works in version 3.5+. Also, I assume you are running FC on localhost and not some other host.

[2014-01-05 03:50] mjordan commented on #4
The best kind of fix - an accidental one!

[2014-01-05 03:51] mjordan commented on #6
I'll take care of this issue tomorrow.

[2014-01-05 11:42] dmoses commented on #10
Sounds good and would be easier for the admin type user to manage.

[2014-01-05 17:02] #10 closed, assigned to nobody

[2014-01-05 17:45] mjordan commented on #2
Closed, as per issue #10

[2014-01-05 17:45] #2 closed, assigned to nobody

[2014-01-05 21:51] mjordan commented on #6
Testing on islandora_datastream_access(FEDORA_VIEW_OBJECTS, $object['AUDIT']) always returns false. Keeping MODS as the testable datastream assumes that all content models use MODS, which I think is not necessarily true.

I recommend testing on islandora_datastream_access(FEDORA_VIEW_OBJECTS, $object['DC]) since that datastream is always going to be present, plus adding a regular Drupal permission

[2014-01-05 22:12] dmoses commented on #6
That should work.

[2014-01-05 22:54] #6 closed, assigned to nobody

[2014-01-05 22:55] mjordan commented on #6
Closed with commit 1000ce5.

[2014-01-05 23:02] mjordan opened #12 "Events not showing up in York HTML example linked from README"
@ruebot, there are no events in http://digital.library.yorku.ca/yul-88675/new-woodbine-racehorses-train-opening-season/view_premis. I suspect that object has never been checked by the checker. I notice that some of the other objects in that collection have been (e.g., http://digital.library.yorku.ca/yul-89067/city-dover-bought-penetang-group/view_premis). Maybe use that as the example linked from

[2014-01-05 23:29] mjordan opened #13 "Include events other than those documenting fixity checks?"
Currently, only events that document fixity checks performed by the Islandora Checksum Checker module are selected for inclusion in the PREMIS XML. Should we be including other events? If so, we would need to map data that is available in the audit log to meaningful PREMIS events.

In addition to 'modifyObject' events that document fixity checks, audit log records can be of the following types:
-

[2014-01-05 23:31] #12 closed, assigned to nobody

[2014-01-05 23:33] mjordan opened #14 "Include datastream types other than Managed in PREMIS?"
Currently, only Managed datastreams are selected for inclusion in the PREMIS XML. Should we be including Internal, External, and Redirect datastreams as well? Probably Internal (for example, DC is internal), but are External and Redirect datastreams used at all in Islandora?

[2014-01-06 00:14] mjordan commented on #12
@ruebot, give anonymous users on your site permission to "View PREMIS Metadata", so they can see the pretty http://digital.library.yorku.ca/yul-89067/city-dover-bought-penetang-group/view_premis

[2014-01-06 00:23] mjordan commented on #12
Muy bueno

[2014-01-06 12:26] dmoses commented on #14
I think including Internal makes sense.  We may be able to use the DC for populating a basic Rights PREMIS statement ? The Redirected datastream type could be used in the context of a revised video or audio solution pack. The problem with External is that Fedora is really only managing the access to the content. How would checksums, etc. be run/reported on when the file isn't actually stored in th

[2014-01-06 20:45] mjordan commented on #14
True about Redirected datastreams, and I'm also wondering if we should include them as objects entities in PREMIS just for the sake of completeness (i.e., to identify every datastream in an Islandora object)? Same goes for External. There would never be any fixity check events on these two types but if we end up including addDatastream, modifyDatastream, etc. events (from issue #13), we could incl

[2014-01-06 21:03] mjordan commented on #14
Thanks for the example. Even if there's nothing in the dc:rights element, worst that will happen in the output document is an empty premis:rightsStatement entity (or maybe we want to put some sort of generic XML comment in the rightsStatement saying that we don't have any rights info for that object). Or we could even do a conditional trasform - if there's no dc:rights, don't output anything.

[2014-01-06 21:17] mjordan commented on #14
Using a PHP extension function, you can do anything in your stylesheet that PHP can do. If we added one to foxml_to_premis.xsl we could have code in the module grab the data from Solr, munge it if necessary, and then pass it into foxml_to_premis.xsl as a stylesheet parameter. I had some difficulty passing entire chunks of XML into the stylesheet as parameters but apparently it's possible with some

[2014-01-06 22:25] mjordan commented on #14
This thread is getting a bit off topic but we need to deal with this stuff anyway.

Got a basic script working that passes an entire XML document into the XSLT output (using output from FITS as my test) as referenced in my previous comment, without using a PHP extension. Bad new however: PHP is not able to pass strings into an XSL stylesheet if they contains both double and single quotes (bug refe

[2014-01-06 22:31] mjordan commented on #14
One workaround would be to insert the foreign XML into the FOXML before we applied the stylesheet.

[2014-01-07 01:09] dmoses commented on #14
We use mods:accessCondition - http://www.islandscholar.ca/fedora/repository/ir%3Air-batch6-5794 . Rights statements aren't included in all records though. I'm scaffolding some premis rights code and will share that shortly.

[2014-01-07 03:56] mjordan commented on #14
Closing a sub-issue here by Integrating @dmoses XSL work on transforming dc:rights to premis:rights in commit 524c530. Creating new issue (#16).

[2014-01-07 04:22] mjordan opened #16 "Include rights metadata"
Moved from issue #14.

[2014-01-07 04:24] mjordan commented on #16
@dmoses, I can't get dc:rights values containing any of the strings searched for in the XSL to match. I'll continue to test.

[2014-01-07 12:20] dmoses commented on #16
hmmm ... if you have this
`<dc:rights>this item is in the public domain</dc:rights>`
it should create a `<rightsBasis>copyright</rightsBasis>` element and this stanza.

[code]

`<dc:rights>this is the awesome creative commons ccbysa license</dc:rights>`
it should create a `<rightsBasis>license</rightsBasis>` element, that should then populate a stanza with whatever is in dc:rights.

[code]

I'm wo

[2014-01-07 14:28] mjordan commented on #16
Can't get it to work. Here's my DC datastream:

[code]

Have you pulled the latest changes into your local copy? Maybe I didn't add your XSL properly.

[2014-01-07 14:37] dmoses commented on #16
can you gist your foxml? I plug your oai_dc into my foxml and it produces

[code]

I've got an update to the foxml xsl that i'll push and do a pull request on. It addresses the version of the DC datastream (it pulls from the last version), parameters for jurisdiction, and populating copyrightNote with dc:rights.
I don't like the rightsStatementIdentifierValue, but am unsure what to populate it wit

[2014-01-07 14:44] mjordan commented on #16
Ah, if it's not selecting nodes from the latest version of the DS datastream, that's the problem. Here's my FOXML: https://gist.github.com/mjordan/8300260

[2014-01-07 15:15] dmoses opened #18 "Include jursidiction information in the admin form"
I've pulled out the hardcoded jurisdiction information and have mapped it to parameters in the xsl.

[code]

Could those be added to the admin form for the module ?
dm

[2014-01-07 16:11] dmoses commented on #18
The other should be copyrightJurisdiction. ... maybe that's a bit redundant? We could just have jurisdiction and map that to both the elements ?  For the samples the PREMIS data dictionary says "Values should be taken from a controlled vocabulary." and the examples they provide are the two letter country codes. I like the sample you've got ... we could also include a link along with the sample to

[2014-01-07 16:55] mjordan commented on #18
I think the sample should just be "Canada" since copyright is a federal thing, not provincial.

[2014-01-07 17:14] dmoses commented on #18
I should have looked at the Archivematica docs first ... those are good examples/scenarios to work from.

[2014-01-07 17:16] dmoses commented on #18
The copyrightJurisdiction should be Canada instead of ca ... Is that what you mean Mark? I think the statuteJurisdiction could be provincial or federal depending on the context.

[2014-01-07 18:51] mjordan commented on #18
The problem with the rights element is that it is so specific to the Islandora object, so it will depend. To make matters worse, we're getting the data from dc:rights, which like most DC elements lacks the structure to express much of anything beyond a simple controlled string value or an uncontrolled textual value. Given the potential range of what people end up stuffing into dc:rights, I wonder

[2014-01-07 18:56] mjordan commented on #18
No, not really - just knowing the jurisdiction doesn't provide enough information for the stylesheet to decide to map to one of copyright/license/statute/other output elements. Besides, does one jurisdiction  necessarily apply to all objects in a repo?

Guess what I'm saying is that we may not have enough info WRT rights for all the objects in a repo to apply the 'batch' approach to generating PRE

[2014-01-07 19:03] mjordan commented on #18
I'm saying we need to think about this a bit more. Maybe get some additional input from the community? I don't think we absolutely need to include rights but if we can we should. But given the complexity (at least the complexity I see with it), maybe we should consider not including it.

[2014-01-07 19:06] dmoses commented on #18
I can see Mark's point. The metadata we've got is pretty thin ... but I think it is worthwhile surfacing.
Longterm it would be useful to have a consistent approach to rights metadata within the Islandora.  I looked at METSRights and thought that it could potentially be embedded in the `<extension>` element of a MODS record. I had started a form to do that a while back.  Maybe we just need to get t

[2014-01-07 19:21] mjordan commented on #18
Here's a suggestion, but it's a bit of a cop out: PREMIS says "If the repository records rights information, either rightsStatement or rightsExtension must be present." What about just taking whatever is in dc:rights and slurping it into PREMIS like this:

[code]

That way we record what we have and also avoid all the nasty details of granular mapping to PREMIS's rights model.

[2014-01-07 19:25] dmoses commented on #18
I'll comment out the rights bits I've got in there now and will update with the suggested fixed. I learned a bunch trying to figure out how it might be done, so it all works out.

[2014-01-07 19:27] mjordan commented on #18
Sounds good.

[2014-01-07 19:36] ppound commented on #13
You guys have been busy, I'm having trouble just keeping up to the email
messages.

I'm not sure if it's helpful or not but I'm including part of an audit
trail for some objects we created a while ago (we are using a newer version
of tesseract now).

I think it would be useful to have these in PREMIS.  We may want to put
some thought into how we format the audit:justification string?

<audit:audit

[2014-01-07 19:42] mjordan commented on #13
@ppound Good point about formatting the justification string. The only other one we have so far is the string generated by the Checksum Checker module. I used a version of DCMI DCSV (http://dublincore.org/documents/dcmi-dcsv/) mainly because the string is just a couple of fields appended to one another. The ones you provide are a lot longer. There is some string matching in the XSLT on the Checksu

[2014-01-08 01:34] mjordan commented on #16
Closed with commit 9a11146b52.

[2014-01-08 01:34] #16 closed, assigned to nobody

[2014-01-08 01:36] mjordan commented on #18
Implemented in commit 9a11146b52.

[2014-01-08 01:36] #18 closed, assigned to nobody

[2014-01-08 02:19] mjordan commented on #14
WRT the question about External and Redirected datastreams, turns out that FC does do checksums on them. I added one of each to an object via the Fedora Web Admin and then ran Checksum Checker on the object. Here are the audit log records:

[code]

So if we added all types of datastreams (have Managed now, should add Internal, could add Redirect and External), we'd have checksum verification on th

[2014-01-08 02:31] mjordan commented on #14
Here's a sample of a PREMIS file containing audit records for all types of datastreams: https://gist.github.com/mjordan/8310775

[2014-01-08 02:33] mjordan commented on #14
Woops, I notice that the records for the External and Redirect are _not_ included. Records for Internal are though. Let me work on it.

[2014-01-08 02:48] mjordan commented on #14
If we include External and Redirect, we need to rethink the test for composition level in foxml_to_premis.xsl:

[code]

as we don't know the compositional level of the external or redirected files. In fact, looking at compositionLevel's entry in the PREMIS 2.2 Data Dictionary, I'm not sure we're using it properly -- it seems to apply to compressed to encrypted files and bitstreams. Maybe we should

[2014-01-08 03:28] mjordan opened #21 "PREMIS contentLocationValue is always empty"
foxml:contentLocation REF value is not being selected so premis:contentLocationValue is always empty.

[2014-01-08 03:42] mjordan commented on #14
OK, I am ready to merge my feature branch that includes events for all types of datastreams into 7.x. Please vote!

Still need to work on issue #21.

[2014-01-08 04:56] mjordan commented on #21
I was wrong - it is not blank for the new External and Redirect datastreams.... It used to work, as evidenced by https://gist.github.com/mjordan/8250658 ....this is an early example, pre-'agent'.... so we introduced a bug somewhere along the line. None of the other examples in my gists have values so the bug is pretty old.

Which reminds me... we probably should insert a 'date generated' comment i

[2014-01-08 05:37] mjordan commented on #21
Giving up for tonight and committing a couple other small changes to the XSL. The problem is definitely with the selecting the value of foxml:contentLocation/@REF, it's not with the variable assignment.

[2014-01-08 12:18] dmoses commented on #14
Thanks for the Yale's guide interpretation. Yep on the compositionLevel to default as 0.
Yes on including events for all types of datastreams .

[2014-01-08 15:31] mjordan commented on #13
@ppound Since there will be no standardization in what people have populated their audit log justifications with, maybe we should consider implementing a PHP extension to match the audit log records so that the local admin can configure a set of patterns that PHP tries to match, and if it finds a match, it instructs the XSL to output that record. For the patterns, we could provide either/both a te

[2014-01-08 15:33] mjordan commented on #14
OK, I'll merge in my feature branch that removes the Managed-only pattern, and I'll also remove the compositionLevel logic.

[2014-01-08 15:35] mjordan commented on #21
Haven't started on this one yet today. Will merge in branch mentioned in #14 first.

[2014-01-08 15:39] mjordan commented on #21
Yeah, please do. Just tried to merge and got conflicts. Have reset --hard so I'm back on c3ede93f6d6f237f4570d5c5096d840f0e8b2e7e.

[2014-01-08 15:42] mjordan commented on #21
Pulled but still have conflicts. Let me take a look.

[2014-01-08 15:50] mjordan commented on #21
This is weird - when I git pull I go back to c3ede93f6d6f237f4570d5c5096d840f0e8b2e7e and tells me I'm up to date, but when I visit https://github.com/ruebot/islandora_premis/commits/7.x it tells me that 9836700920 is the latest. Same in two different browsers so it's not a cache issue. Any idea why the discrepancy?

[2014-01-08 15:55] mjordan commented on #21
So should I revert back to 9836700920b245dabc78b9026bb650da6e13d759 in my local copy?

[2014-01-08 15:57] mjordan commented on #21
OK, thanks, back at 9836700920b245dabc78b9026bb650da6e13d759. Let me try my merge again.

[2014-01-08 16:00] mjordan commented on #21
OK, success, will push if you think it's OK.

[2014-01-08 16:05] mjordan commented on #21
Pushed.

I, sir, am a vim user. Thanks!

[2014-01-08 16:55] mjordan commented on #21
You can try it. But foxml:datastreamVersion is the context node, so I don't see why foxml:contentLocation/@REF won't work. Similar context-node queries work elsewhere.

BTW, saxon does give me some output using the current foxml_to_premis.xsl. Could be a stupid obscure PHP or libxslt bug. But it did work in earlier versions of the stylesheet. That's what I don't understand.

[2014-01-08 17:01] ppound commented on #13
@mjordan I think using the php extension is ok, the PREMIS is going to be
generated by Islandora so PHP should always be available.

I also like the idea of using DCSV inside the justification string, I wish
we had done that in our existing objects.

Would it make sense to be able to match on different fields inside the
audit record, I'm thinking that we may also want pivot on things like
action o

[2014-01-08 17:08] mjordan commented on #13
Good idea - allow for a simple list of patterns in the justification in an admin form but also provide a hook that would allow arbitrary logic. For the 'pivot' you mention, the hook would need to be passed the entire foxml  file, correct? Or is just the audit record sufficient?

I've used php extensions a bit so I'd be happy to start implementing this, but I probably won't have a lot of time over

[2014-01-08 17:50] dmoses commented on #21
Really strange ... i poked at this a little bit.  It is a puzzle.  It seems to be the xpath, but the path is right.
It works if you the change the content_location variable to this:
`<xsl:variable name="content_location" select="//foxml:contentLocation/@REF"/>`
The variable is declared further down as well ... is it working there ?

[2014-01-08 18:22] ppound commented on #13
I would have to look at your xslt but I envisioned a loop for each
audit:record in the audit:auditTrail and if we matched something in the
audit:record we would then use that record to create a PREMIS event.  I was
thinking it would be similar to where you tested the justification string
but we would pass the whole parent element (audit:record) to the function
instead of just the justification str

[2014-01-08 18:46] mjordan commented on #13
Yes, you can pass a node back but you need to make sure you don't include the XML declaration since if there is one, since having two declarations in one XML file will cause validation failures. Passing back $dom->documentElement instead of just $dom has worked for me.

[2014-01-08 19:25] dmoses commented on #21
Nick ... I run the foxml you provided previously through the xslt you linked to and it gets transformed by Oxygen and the elements get populated. See it here: https://gist.github.com/dmoses/8322788
The transformer I'm using is saxon 6.5.5.

[2014-01-08 19:45] mjordan commented on #21
The plot thickens...

I am getting expected values in contentLocationValue when I run the following CLI PHP script, which BTW is essentially the same code as we're running in the module. Also, foxml_to_premis.xsl is the same one that is not working for me in the module:

[code]

When I grep the output, I get:

[code]

but the changeme:15:OBJ+OBJ.O, etc do not appear in the version generated via th

[2014-01-08 19:51] mjordan commented on #21
This is a shameful hack, but what if we added XML parsing code to the islandora_premis_run_xsl_transform() function to grab the value of foxml:contentLocation/@REF and passed it into the stylesheet as a parameter? We may never figure out what is causing this truly cruel bug.

[2014-01-08 20:10] mjordan commented on #21
I can try it tonight, but feel free to take a stab sooner if you have time.

[2014-01-08 21:27] mjordan commented on #14
Mind if I close this? (Done in commit b2b9636d5050de29c22d0589c4964bf02f4b4f3a)

[2014-01-08 21:29] mjordan commented on #14
If we do close it, we'll need to update the README, which mentions Managed datastreams.

[2014-01-08 21:30] #14 closed, assigned to nobody

[2014-01-08 22:19] ruebot opened #22 "Sort out how we handle compositionLevel"
...as per https://github.com/ruebot/islandora_premis/issues/14#issuecomment-31801566

[2014-01-09 01:57] dmoses commented on #22
I'd simply change this

[code]

to this

[code]

[2014-01-09 04:31] mjordan commented on #21
Found the problem... this is frigging hilarious.

When exported (which is what we do in this module), FOXML doesn't contain any foxml:contentLocation elements for Managed datastreams. Instead, the content for those datastreams is embedded within the XML itself as base64 strings in foxml:binaryContent tags. See https://gist.github.com/mjordan/8329267 for an example of the FOXML were are applying ou

[2014-01-09 05:41] edf commented on #21
Really glad you figured out the weirdness!

Just a thought, instead of 'archive' could 'migrate' be used to reduce the file size of the binary stuff on line 110 in utilities.inc ?

[2014-01-09 05:54] mjordan commented on #21
Awesome suggestion - using the 'migrate' format FOXML you get usable contentLocation values:

[code]

As long as we're happy with this sort of URL (not sure what relevance 'localhost' has in the context of a PREMIS XML file), we're good to go with a one-line change to utilites.inc.

[2014-01-09 11:08] dmoses opened #23 "Surface the checksum checker results"
Maybe this should be in the checksum_checker issue queue?

Something that Paul did with his vault module was display the 'health' of the object by adding a column in the Manage > Datastream tab for the object. That might be something we'd like to consider.

![islandora_vault](https://f.cloud.github.com/assets/494152/1877074/ea709db8-791d-11e3-9ebe-35927f401d5a.png)

It would also be useful to inde

[2014-01-09 12:15] dmoses commented on #23
Ok ... I created the issue in checksum_checker - https://github.com/mjordan/islandora_checksum_checker/issues/4 and referenced @ppound vault code.

[2014-01-09 12:15] #23 closed, assigned to nobody

[2014-01-09 12:21] #22 closed, assigned to nobody

[2014-01-09 12:36] dmoses commented on #21
Nice catch and the contentLocation values look more meaningful to me. I'm guessing that the localhost:8080 is what's defined in the fedora.fcfg file?

[2014-01-09 14:51] #21 closed, assigned to nobody

[2014-01-09 14:57] mjordan commented on #21
@dmoses I think the hostname is the one configured in the main Islandora module's admin settings, since that's where Islandora deposited the content. One 'feature' of the PREMIS module is that since it is generated on the fly, it's a snapshot of what Islandora thinks is the current location for a datastream at the time PREMIS is viewed/downloaded. Not sure if that answers your question though.

[2014-01-09 15:28] mjordan opened #24 "Move PREMIS tab under Manage?"
Just a question - what do you think of moving the PREMIS tab to the Manage tab, instead of having it where it is now. Just asking because that's where the Technical Metadata tab is. Also, if it's under Manage, the HTML display would fill more of the page (spread out wider) than it does now, at least in the theme I'm using.

[2014-01-09 15:32] mjordan commented on #24
Agreed.

[2014-01-22 03:34] mjordan opened #25 "Include FITS datastream in premis:objectCharacteristicsExtension"
Should we include the FITS datastream, if it is available for an object, in a premis:objectCharacteristicsExtension wrapper (semantic unit 1.5.7)? If I recall correctly, the FITS datastream described the OBJ datastream.

[2014-01-22 15:39] mjordan commented on #25
It would duplicate the display produced by Islandora FITS within the context of Islandora, but I'm thinking about the usefulness of having FITS data in PREMIS for applications outside of Islandora, such as downstream digital preservation platforms like Archivematica. Other applications that might consume our PREMIS (e.g., target migration platforms, digital preservation stacks like Archivematica,

[2014-01-22 17:34] dmoses commented on #25
Does the BagIt module include derived datastreams like PREMIS ? If so then embedding the TECHMD in PREMIS would work. Otherwise how do we feed a 'virtual' PREMIS ds into the object on export ? If we aren't displaying it, then I'm not sure what we're gaining? Additional mapping to PREMIS from the TECHMD do would be good.

[2014-01-22 18:48] mjordan commented on #25
Whether or not the FITS datastream would go along with the object it describes depends on how the object and its datastreams are exported. Assuming the FITS datastream is exported, the consuming application needs to know where to look for it. The benefit of including it in premis:objectCharacteristicsExtension is that it will be easier for a wider range of consuming applications to know where to l

[2014-01-22 18:51] mjordan commented on #25
For the BagIt module, PREMIS is not considered a datastream, but it does include a plugin to generate the PREMIS XML to include in the Bag. This plugin calls the same function in the PREMIS module that is used to generate PREMIS on demand for display and download.

Other applications may want to use it. They should only care about the XML, not how it's displayed to an end user of Islandora.

[2014-01-22 22:59] mjordan commented on #25
Awesome to getting @sbmarks perspective.

Also, we can write more plugins for Islandora BagIt if we're not happy with what it generates now.

[2014-01-22 23:41] mjordan commented on #25
:kiss:

[2014-01-24 04:53] mjordan commented on #25
You guys want me to cut a new branch and try to implement this? Basically if there is a FITS datastream (which is identified in `variable_get('islandora_fits_techmd_dsid', 'TECHMD')`), slurp the whole thing into premis:objectCharacteristicsExtension?

[2014-01-28 17:22] mjordan commented on #25
I've got this working in branch 'fits'. If there is FITS metadata, it now appears in a `<objectCharacteristicsExtension>` element in the OBJ datastreams' `<objectCharacteristics>`. FOXML and PREMIS both validate, and there is no effect on the human-readable HTML output as far as I can see.

Had to do some XML foo because of https://bugs.php.net/bug.php?id=64137 but it was a learning opportunity.

[2014-01-28 17:42] mjordan commented on #25
https://gist.github.com/mjordan/8672407, see line 126.

[2014-01-28 18:01] mjordan commented on #25
I don't know, let me try not doing that and I'll report back.

[2014-01-28 18:04] mjordan commented on #25
Sorry, line 2 of what? I can't find a duplicate namespace declaration for FITS.

[2014-01-28 18:10] mjordan commented on #25
I think I misunderstood your question. We don't need to declare it at the top of the PREMIS file because it is declared with the first instance of the `<fits>` element. I ran this PREMIS though xmllint and it validates.

[2014-02-03 22:09] mjordan commented on #25
Closed with commit b237433ac8d8a53135e70e14ad39d53d8ea2634a.

[2014-02-03 22:09] #25 closed, assigned to nobody

[2014-02-04 22:03] mjordan opened #26 "<premis:contentLocationValue> doesn't contain the proper datastream URL"
Looks like the OBJ datastream URL is used in this field all the time. Should point to the appropriate DS URL.

[2014-02-04 22:08] mjordan opened #27 "Do not include FITS_OUTPUT_COPY.0 datastream into PREMIS XML"
This datastream is added to the FOXML before it gets passed to the XSL processor soley to enable the FITS output to be inserted into premis:objectCharacteristicsExtension. We don't want it also included as a regular datastream.

[2014-05-14 15:10] #26 closed, assigned to nobody

[2014-05-14 15:11] #27 closed, assigned to nobody

[2014-06-30 14:47] SamFritz commented on #24
Ticket has been created in JIRA: https://jira.duraspace.org/browse/ISLANDORA-1007

[2014-06-30 14:48] #24 closed, assigned to nobody

[2014-06-30 14:50] SamFritz commented on #13
JIRA ticket has been created: https://jira.duraspace.org/browse/ISLANDORA-1008

[2014-06-30 14:50] #13 closed, assigned to nobody

[2014-06-30 15:00] SamFritz commented on #3
JIRA ticket created here: https://jira.duraspace.org/browse/ISLANDORA-1009

[2014-06-30 15:00] #3 closed, assigned to nobody

[2018-03-19 15:58] bencomp opened #74 "Branch 7.x-1.10 is ahead of 7.x"
Rather than opening a PR, I'd like to notify @mjordan (and @DiegoPino) that the default branch 7.x is behind the previous release branch 7.x-1.10. That is also the reason the Travis-CI badge is showing 'build error' – luckily, or I would've overlooked this :)

[2018-03-19 17:01] DiegoPino commented on #74
@bencomp that is possible (but really not desired) if premis had no changes but we had to fix something only for the release. Let me check on this. Also, premis should not even have issues open at all.

[2018-03-19 17:09] DiegoPino commented on #74
@bencomp @mjordan now I know why!  Some changes got into the release (access) but dependant changes that were needed could not so we have to fix only on the release branch. So if you compare

https://github.com/Islandora/islandora_premis/compare/7.x-1.10

You will see this one https://github.com/Islandora/islandora_premis/commit/45e35de0eee3265118a5487bf98f706eaea1436e

and

https://github.com/Isl

[2018-03-20 02:34] mjordan commented on #74
@DiegoPino what's the best way to resolve this?

[2018-03-20 09:07] bencomp commented on #74
@DiegoPino the badge shows an error because the build of the default branch (7.x) is failing. Then I realised that I was going to submit a PR with some README updates based on 7.x, which would not necessarily cause a merge conflict, but would keep the branches apart for even longer. (I just guessed that during the previous release cycle noone thought of merging the commits in the 7.x branch…)

I d

[2018-03-20 11:25] DiegoPino commented on #74
@bencomp @mjordan i don't think the issue is with 7.x-1.10 being ahead of 7.x (HEAD), that is pretty common in opensource projects and in Islandora and (sometimes) release branch diverges completely from HEAD (and those changes don't need to come back especially if you are dealing with an exception required to make the release play well).

In this case the issue is https://travis-ci.org/Islandora/

[2018-03-20 14:02] whikloj commented on #74
7.x branch is now passing.

As @DiegoPino said there is no issue with the divergence.

You can see the differences [here](https://github.com/Islandora/islandora_premis/compare/7.x...7.x-1.10?expand=1) most of the commits (3) are release related and the others (2) have associated PRs on the 7.x branch. So we should be fine.

[2018-03-20 16:52] mjordan commented on #74
Can we close this issue?

[2018-03-20 16:56] DiegoPino commented on #74
@bencomp @mjordan @whikloj, thanks, 7.x is passing, i restarted all failed Travis-CI processes i could from the last release to force the readme badge to go green. This can be closed if you feel your concerns are addressed. Also, `/remindme` to disable issues on this repo and route issues to JIRA again. Thanks to all

[2018-03-20 17:50] mjordan commented on #74
@bencomp please close if you are satisfied.

[2018-03-21 21:39] bencomp commented on #74
I understand and I'm satisfied :)

[2018-03-21 21:39] #74 closed